<div class="container">
  <div class="left">
    <div class="logo">
      <img src="../../../../assets/Img/little-logo.png" alt="GymAnalyzer" />
    </div>
    <div class="title">
      <h1>GymAnalyzer</h1>
    </div>
    <!-- <div id="homeSearch">
      <input type="text" />
      <button><img /></button>
    </div> -->
  </div>
  <div id="pages">
    <!-- <h1>{{ title }}</h1> -->
  </div>
  <div class="right" id="sign">
    <div id="log-in">
      <button><img src="../../../../assets/Img/sign-in.png" /></button>
    </div>
    <div id="register">
      <button>Register now</button>
    </div>
  </div>
</div>
