/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}
body{
  // min-height: 880px;
  // overflow-y:auto;
  margin: 0;
  padding: 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.fixed{
  position: fixed;
}
